* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    overflow-x: hidden;
    font-family: 'Nunito', sans-serif; /* Asegura que la fuente se aplique */
}

/*INICIO*/
.video-container {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.background-video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    transform: translate(-50%, -50%);
    z-index: 1;
}

.overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    z-index: 2;
    color: white;
}

.overlay h2 {
    font-size: 3em;
    margin-bottom: 20px;
    text-shadow: 4px 4px 8px rgba(0, 0, 0, 4);
    margin-top: 300px; 
}

.overlay-image {
    width: 200px;
    height: auto;
    margin-top: 120px; 
}


/* ENCABEZADO */


.encabezado {
    background: linear-gradient(to bottom, rgba(55, 55, 55, 0.8), rgba(255, 255, 255, 0));
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

.encabezado a img{
    max-width: 100px;
    margin-right: 15px; 
}
.encabezado a {
    display: flex;
    align-items: center;
    text-decoration: none;
}

.encabezado a h1 {
    font-size: 150%;
    color: white;
}

.encabezado nav {
    display: flex;
    gap: 20px;
    transition: transform 0.3s ease-in-out;
}

.encabezado nav a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    background-color: #83C5BE;
    border-radius: 100px;
    padding: 15px 20px;
    font-size: 22px;
}


/*DESTINOS*/

#destinos {
    text-align: center;
    margin-top: 100px;
    margin-bottom: 100px;
}

#destinos h3 {
    font-size: 5em;
    margin: 70px;
    margin-top: 150px;
    color: rgb(86, 86, 86);
}

#destinos div {
    
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: nowrap; 
    overflow-x: auto; 
}

#destinos a {
    text-shadow: 4px 4px 8px rgba(0, 0, 0, 4);
    position: relative;
    width: 300px;
    height: 200px;
    border-radius: 20px;
    overflow: hidden;
    text-decoration: none;
    color: white;
}

#destinos img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s ease;

    border-radius: 70px; 
}
#destinos h4 {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    color: white;
    font-size: 2em;
    padding: 10px;
    text-align: center;
    margin: 0;
}

#destinos a:hover img {
    transform: scale(1.05);
}

.servicios {
    display: flex;
    justify-content: space-around;
    margin-top: 80px;
    background-color: #83C5BE;
    width: 100%;
    height: 250px;
}

.servicios div {
    text-align: center;
    overflow: hidden;
    margin: 40px;
}

.servicios img {
    width: 30px;
    height: auto;
    object-fit: contain;
    margin-bottom: 10px;
    margin-top: 15px;
    border-radius: 0%;
}

.filter-container {
    margin: 20px;
    max-width: 250px;

}

.filter-container label {
    display: block;
    margin-top: 10px;
}


/*SERVICIOS EJEMPLOS*/


#serviciosejemplos {
    display: flex;
    flex-direction: column;
    margin-top: 80px;
    margin-bottom: 50px;
    margin: 30px;
    font-size: 1.5em;
    border-radius: 80px;
    align-items: center;
    
}

#serviciosejemplos div{
    content: 300px 150px;
    display: flex;
    margin: 20px;
    border-radius: 90px;
    padding: 15px;
}

#serviciosejemplos img {
    width: 250px;
    height: 150px;
    object-fit: cover;
    border-radius: 80px;
    margin-right: 20px;

}

#serviciosejemplos h3{
    text-align: center;
    font-size: 2.5em;
    margin-bottom: 50px;
    margin-top: 50px;
    color: rgb(86, 86, 86);
}

#serviciosejemplos p{
    margin: 10px;
    margin-top: 15px;
}

.serviciosejemplosizq1{
    background-color: #FFDDD2;
}

.serviciosejemplosizq2{
    background-color: #b6e9fa;
}

.serviciosejemplosder1{
    background-color: #E29578;
}

.serviciosejemplosder2{
    background-color: #83C5BE;
}


/*  CONTACTOS  */

#contenedor{
    background-image: url('../resources/fondocontacto.jpg');    
    background-size: cover;
    padding: 35px;
}
#contacto {
    background-color: #0f0f0f55;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 800px; 
    width: 100%;
    margin: 20px auto;
    backdrop-filter: blur(10px);
}

fieldset {
    border: none;
    padding: 0;
}

h4 {
    font-size: 2.4em;
    margin-bottom: 20px;
    text-align: center;
    color: #ffffff;
}

input, textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 0px solid #000000;
    border-radius: 5px;
    font-size: 1em;
    background-color: #fdfdfdc1;
    backdrop-filter: blur(10px);
}

textarea {
    height: 100px;
    resize: none;
}

button {
    background-color: #00bfff;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 25px;
    cursor: pointer;
    font-size: 1em;
    margin-right: 10px;
    margin-bottom: 10px;
}

button:hover {
    background-color: #009acd;
}

button[type="reset"] {
    background-color: #83C5BE;
}

button[type="reset"]:hover {
    background-color: #5f8e8a;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contenedorbtns{
    display:inline;
}



/* FOOTER  */

footer {
    color: #ffffff;
    background-color: #006D77;
    size: 400px auto;
    display: flex;
}
.contenedorfooter div{
    margin: 40px;
}
.logofooter {
    width: 150px;
}

footer h5 {
    font-size: 1.5rem;
    margin: 30px;
    font-weight: bold;
}

footer p {
    margin: 30px;
    line-height: 1.5;
}

footer a {
    margin: 10px;
    display: inline-block;
}

.imgfooter {
    width: 400px;
    height: auto;
}

.contenedorfooter{
    margin: 40px;
    display: block;
    justify-content: center;
    margin-left: 150px;
}


/* Ocultar el checkbox */
#menu-toggle {
    display: none;
}

/* Estilos para la hamburguesa */
.hamburguesa {
    display: none;
    font-size: 2rem;
    color: white;
    cursor: pointer;
}

/* Hacer que el menú se vea cuando el checkbox esté marcado */
#menu-toggle:checked + .hamburguesa + nav {
    display: flex;
    flex-direction: column;
}

/* Ocultar el menú en pantallas pequeñas por defecto */
nav {
    display: flex;
    gap: 20px;
}





/*Destinos*/
section.destinos {
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px;
}

.card {
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 300px;
    padding: 20px;
    text-align: center;
    flex: 1 1 calc(33.333% - 40px); 
    margin: 10px;
}

.card img {
    width: 100%;
    border-radius: 8px;
}

.card h2 {
    font-size: 1.5em;
    margin: 15px 0;
}

.card p {
    color: #555;
    font-size: 1em;
    margin: 15px 0;
}

.card .price {
    color: #009acd;
    font-size: 1.3em;
    font-weight: bold;
    margin: 10px 0;
}

.card button {
    background-color: #00bfff;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
    margin-top: 15px;
}

.card button:hover {
    background-color: #009acd;
}

.h4lugar{
    font-size: 4em;
    color: #000000;
    margin-top: 150px;
}





@media (max-width: 767px) {
    
.bodyDestinos{
    background-color: #83c5bf95;
}
    .encabezado {
        flex-direction: column;
        height: auto;
    }

    .encabezado nav {
        display: none;
        flex-direction: column;
        background-color: #006D77; 
        position: absolute;
        top: 100px; 
        right: 0;
        width: 100%;
        text-align: center;
        padding: 10px 0;
        border-radius: 0 0 10px 10px;
    }
    .encabezado nav.show {
        display: flex;
    }
    .encabezado a h1 {
        font-size: 1.5em;
    }

    .encabezado nav a {
        font-size: 18px;
        padding: 10px 15px;
        background-color: #ffffff17;
    }
    
    .overlay h2 {
        font-size: 2em;
    }

    .overlay-image {
        width: 150px;
    }

    #destinos h3 {
        font-size: 3em;
    }

    #destinos div {
        flex-direction: column;
        margin-bottom: 20px;
    }

    #destinos a {
        width: 100%;
        height: auto;
    }
    
    
    .servicios {
        flex-direction: column;
        height: auto;
        margin-top: 20px;
    }
    #destinos .servicios div img{
        width: 80px;
        height: auto;
    }
    #destinos .servicios div{
        display: inline-block;

    }
    .servicios div {
        margin: 20px;
    }

    .serviciosejemplosizq1, .serviciosejemplosizq2, .serviciosejemplosder1, .serviciosejemplosder2 {
        flex-direction: column;
        text-align: center;
    }
    h4{
        font-size: 2em;
    }
    .contenedorbtns {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
    input, textarea {
        width: auto;
        margin: 0px;
    }
    
    footer {
        flex-direction: column;
        align-items: center;
    }

    .contenedorfooter {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-left: 0;
    }

    .imgfooter {
        width: 100%;
    }

    footer h5, footer p {
        text-align: center;
    }

    footer a {
        display: inline-block;
    }
    footer a img {
        width: 30px;
        height: 30px;
        display: flex;
    }

    .encabezado {
        flex-direction: column;
        align-items: flex-start;
    }

    nav {
        display: none;
        flex-direction: column;
        width: 100%;
        background-color: #83C5BE;
        padding: 20px;
    }

    .hamburguesa {
        display: inline-block;
        cursor: pointer;
        font-size: 2em;
        color: white;
    }

    nav a {
        padding: 10px 0;
        border-bottom: 1px solid white;
        text-align: left;
        font-size: 1.5rem;
    }
    .h4lugar{
        font-size: 2em;
    }
}

@media (max-width: 480px) {
    .overlay h2 {
        font-size: 1.5em;
    }
    .overlay-image {
        width: 120px;
    }

    #destinos h3 {
        font-size: 2em;
    }

    .servicios img {
        width: 20px;
    }

    .servicios div {
        margin: 10px;
    }

    footer {
        flex-direction: column;
    }

    .contenedorfooter {
        margin: 20px;
    }

    .logofooter {
        width: 100px;
    }

    footer h5 {
        font-size: 1.2em;
    }

    footer p {
        font-size: 0.9em;
    }

    footer a img {
        width: 25px;
        height: 25px;
    }
    /* Esconder el menú de navegación por defecto en pantallas pequeñas */
    nav {
        display: none;
    }

    /* Mostrar el menú cuando se active la clase 'show' */
    nav.show {
        display: flex;
        flex-direction: column;
    }
}