* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    overflow-x: hidden;
    font-family: 'Nunito', sans-serif; /* Asegura que la fuente se aplique */
}

/*INICIO*/
.video-container {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.background-video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    transform: translate(-50%, -50%);
    z-index: 1;
}

.overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    z-index: 2;
    color: white;
}

.overlay h2 {
    font-size: 3em;
    margin-bottom: 20px;
    text-shadow: 4px 4px 8px rgba(0, 0, 0, 4);
    margin-top: 300px; 
}

.overlay-image {
    width: 200px;
    height: auto;
    margin-top: 120px; 
}



/* ENCABEZADO */


.encabezado {
    background: linear-gradient(to bottom, rgba(55, 55, 55, 0.8), rgba(255, 255, 255, 0));
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

.encabezado a img{
    max-width: 100px;
    margin-right: 15px; 
}
.encabezado a {
    display: flex;
    align-items: center;
    text-decoration: none;
}

.encabezado a h1 {
    font-size: 150%;
    color: white;
}

.encabezado nav {
    display: flex;
    gap: 20px;
}

.encabezado nav a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    background-color: #83C5BE;
    border-radius: 100px;
    padding: 15px 20px;
    font-size: 22px;
}


/*DESTINOS*/

#destinos {
    text-align: center;
    margin-top: 100px;
    margin-bottom: 100px;
}

#destinos h3 {
    font-size: 5em;
    margin: 70px;
    color: rgb(86, 86, 86);
}

#destinos div {
    
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: nowrap; 
    overflow-x: auto; 
}

#destinos a {
    text-shadow: 4px 4px 8px rgba(0, 0, 0, 4);
    position: relative;
    width: 300px;
    height: 200px;
    border-radius: 20px;
    overflow: hidden;
    text-decoration: none;
    color: white;
}

#destinos img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s ease;

    border-radius: 70px; 
}
#destinos h4 {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    color: white;
    font-size: 2em;
    padding: 10px;
    text-align: center;
    margin: 0;
}

#destinos a:hover img {
    transform: scale(1.05);
}

.servicios {
    display: flex;
    justify-content: space-around;
    margin-top: 80px;
    background-color: #83C5BE;
    width: 100%;
    height: 250px;
}

.servicios div {
    text-align: center;
    overflow: hidden;
    margin: 40px;
}

.servicios img {
    width: 30px;
    height: auto;
    object-fit: contain;
    margin-bottom: 10px;
    margin-top: 15px;
    border-radius: 0%;
}



/*SERVICIOS EJEMPLOS*/


#serviciosejemplos {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 50px;
}



#serviciosejemplos img {
    width: 250px;
    height: 150px;
    object-fit: cover;
    border-radius: 20px;
}

#serviciosejemplos-texto {
    padding: 20px;
    border-radius: 20px;
    width: 60%;
    font-size: 1.2em;
    line-height: 1.5em;
    text-align: left;
}